.modal-body
  = simple_form_for(@movie, remote: true,  html: {role: :form, multipart: true}, :data => { :model => 'movie' } , authenticity_token: true) do |f|
    = f.input :title, autofocus: true, hint: ''
    = f.input :description, hint: ''
    = f.input :movie_length, hint: ''
    = f.input :director, hint: ''
    = f.input :rating, hint: ''
    = f.input :image, as: :file
    .modal-footer
      = f.button :submit

