- modal ||= false
- remote = modal ? true : false
= form_for(@movie, remote: remote, html: {role: :form, 'data-model' => 'movie'}) do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2
        = pluralize(@movie.errors.count, "error")
        prohibited this person from being saved:
      %ul
        - @movie.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title, class: 'control-label'
    %br/
    = f.text_field :title, class: 'form-control'
    %span.help-block
  .form-group
    = f.label :description, class: 'control-label'
    %br/
    = f.text_field :description, class: 'form-control'
    %span.help-block
  .form-group
    = f.label :movie_length, class: 'control-label'
    %br/
    = f.text_field :movie_length, class: 'form-control'
    %span.help-block
  .form-group
    = f.label :director, class: 'control-label'
    %br/
    = f.text_field :director, class: 'form-control'
    %span.help-block
  .form-group
    = f.label :rating, class: 'control-label'
    %br/
    = f.text_field :rating, class: 'form-control'
    %span.help-block
  .actions
    = f.submit 'Submit', class: 'btn btn-default'
