<% if @movie.errors.any? %>
$( ".error" ).remove();
<% if @movie.errors[:title]%>
$( "<div class='error'><%= @movie.errors[:title].first %> </div>" ).insertAfter( $("#movie_title"));
<% end %>
<% if @movie.errors[:description]%>
$( "<div class='error'><%= @movie.errors[:description].first %> </div>" ).insertAfter( $("#movie_description"));
<% end %>
<% else %>
$("#modal-window").modal("hide")
if( $('#movies').length ){
   $("<%= j(render @movie) %>").hide().appendTo('#movies').show();
      $('#movies').masonry({
         isFitWidth: true,
         itemSelector: '.box'
      }).imagesLoaded(function() {
         $('#movies').masonry('reload');
      });

} 
else { 
   var movie = $('<%= j(render :file => 'movies/show') %>').hide();
   $('#movie_contents').replaceWith(movie);
   $('#movie_contents').show().addClass('magictime spaceInUp')
      window.history.pushState('','',"<%= @movie.id %>");
}
<%= render 'notification', formats: [:js] %>
<% end %>
