= simple_form_for([@movie,@movie.reviews.build], remote: true, ) do |f|
  = f.error_notification

  .form-inputs
    .commentBox
      %span.headerTxt  Give a rating:
      %span#star-rating(data-score="#{@avg_review}")
      %em.reviews-number="#{@reviews.length} reviews"
    .form-group
    = f.input :comment,:placeholder => "What is your opinion?", :input_html => {rows: "4"}, label: false

  .form-actions
    = f.button :submit, :class => "pull-right clerfix btn-sm" 

:javascript
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]',
    score: function() {
              return $(this).attr('data-score');
      }
  
  });
