.review{:id => "#{dom_id(review)}"}
  .content
    %p.review_author=  review.user.email
    %p.review_content= review.comment
    - if user_signed_in?
      .buttons.btn-group.btn-group-xs
        = link_to 'Edit', edit_movie_review_path(review.movie, review),  remote: true, class: "btn btn-default"
        = link_to "Delete", movie_review_path(review.movie, review), method: :delete,  remote: true, data: { confirm: "Delete comment?" }, class: "btn btn-default"

