!!! 5
%html
  %head
    %title MovieReview
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, async: true 
    = csrf_meta_tags
  %body
    = render 'layouts/header' 
    .container
      #modal-window.modal.fade{:role => "dialog"}
      - flash.each do |name,msg|
        = content_tag :div, msg, class: 'alert alert-info'
      = yield
   
