!!! 5
%html
  %head
    %title MovieReview
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application',"#{javascript_include_view_js}",'app', 'data-turbolinks-track' => true 
    = csrf_meta_tags
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/header' 
    .container
      / Modal
      #modal-window.modal.fade{"aria-labelledby" => "myModalLabel", "aria-hidden"=> "true", :role => "dialog", :tabindex => "-1"}
      - render(:partial => 'notification', :handlers => [:erb], :formats => [:js])
      - flash.each do |name,msg|
        = content_tag :div, msg, class: 'alert alert-info'
      = yield
      #footer
    = include_rails_script
