!!! 5
%html
  %head
    %title MovieReview
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
  %body{ data: {controller:"Movies", action: "test"} }
    = render 'layouts/header' 
    .container
      / Modal
      #new_movie_modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
              %h4#myModalLabel.modal-title Modal title
            .modal-body
              = render 'form', modal: true
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
              %button.btn.btn-primary{:type => "button"} Save change
      - flash.each do |name,msg|
        = content_tag :div, msg, class: 'alert alert-info'
      = yield
      = include_rails_script
