!!! 5
%html
  %head
    %title MovieReview
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
  %body{ data: {controller:"Movies", action: "test"} }
    = render 'layouts/header' 
    .container
      / Modal
      #modal-window.modal.fade{"aria-labelledby" => "myModalLabel", "aria-hidden"=> "true", :role => "dialog", :tabindex => "-1"}
      - flash.each do |name,msg|
        = content_tag :div, msg, class: 'alert alert-info'
      = yield
      = include_rails_script
